@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --bg-light: #484d50;
  --bg-dark: #181a1b;
  --bg-dark-light: #202425;
  --bg-orange: rgb(204, 122, 0);
  --text-black: rgb(24, 24, 24);
  --text-white: rgb(209, 209, 209);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-white);
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  background: var(--bg-dark);
}

body header .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 7rem;
  background-color: var(--bg-dark);
}

body header .title-container h1 {
  width: 97rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  color: #5190ff;
}

body header .title-container p {
  margin-bottom: 1.5rem;
  width: 10rem;
  color: var(--text-white);
  float: right;
}

body header .title-underline {
  height: 4.3rem;
  background-color: var(--bg-light);
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body .container .translator-container {
  position: relative;
  top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 40rem;
  padding: 2rem;
  background-color: var(--bg-dark-light);
}

body .container .translator-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .container .translator-container .form-container p {
  margin: 2rem 0 2rem 0;
  font-size: 2.5rem;
}

body .container .translator-container .form-container #text-input {
  width: 50rem;
  height: 16.48rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border: none;
  border-left: 4px solid var(--bg-orange);
  color: #5190ff;
  background-color: var(--bg-dark);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  outline: none;
}

body .container .translator-container .form-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .container .translator-container .form-container .buttons #locale-select {
  padding: 1rem;
  border: none;
  background-color: var(--bg-orange);
  font-size: 1.7rem;
  outline: none;
}

body .container .translator-container .form-container .buttons #locale-select:hover {
  cursor: pointer;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

body .container .translator-container .form-container .buttons input {
  padding: 1rem;
  border: none;
  background-color: var(--bg-orange);
  font-size: 1.7rem;
  outline: none;
}

body .container .translator-container .form-container .buttons input:hover {
  cursor: pointer;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

body .container .translator-container #output-container {
  width: 100%;
  margin-left: 4rem;
}

body .container .translator-container #output-container p {
  font-size: 2.5rem;
  margin: 2rem 0 2rem 0;
}

body .container .translator-container #output-container #solution-container {
  background-color: var(--bg-dark);
  width: 50rem;
  height: 16.48rem;
  margin-top: 0;
  padding: 2rem;
  border-left: 4px solid var(--bg-orange);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

body .container .translator-container #output-container #solution-container #translated-sentence {
  color: #5190ff;
}

body .container .translator-container #output-container #error-msg {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ff1a1a;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.highlight {
  color: var(--bg-orange);
}
/*# sourceMappingURL=style.css.map */